SUPABASE_URL=https://rwzjpuxyaxjymhjkpxrm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3empwdXh5YXhqeW1oamtweHJtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2NTYzMSwiZXhwIjoyMDg5ODQxNjMxfQ.eoo61p_aP4VH0wRixdGrki_6LZjJw2WBVYXLydgqFxQ
OPENAQ_API_KEY=