node_modules/
.env
__pychache__/
*.pyc
logs/
.DS_Store
dist/
build/
data/
.DS_Store
*.log
*.csv
*.json
*.xlsx
*.zip
*.tar.gz
*.egg-info/
*.egg
*.iml
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.backup    
reports/
